---

---

<footer class="border-t border-[#1f1f1f] py-10 mt-auto bg-black">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 flex justify-center">
    <a
      href="https://ottomatic.io"
      target="_blank"
      rel="noopener noreferrer"
      class="opacity-50 hover:opacity-100 transition-opacity"
    >
      <img src="/ottomatic-logo.svg" alt="OTTOMATIC" class="h-5 w-auto" />
    </a>
  </div>
</footer>
